body{
	background: linear-gradient(90deg, crimson, #9F44D3);
}

.card{
	box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
	transition: 1s;
	animation: 1s;
}

.task-delete{
	float: right;
}

.task-edit{
	float: left;
}
.alert{
	animation: 1s;
	transition: 1s;
}
.font-span{
	font-size: 0.7rem;
}

.search{
	width: 20rem;
}